/*-- scss:defaults --*/
// Base document colors
$body-bg: #000000;
$body-color: white;
$link-color: #3459e6;
$headings-color:#3459e6;
$footer-bg: #000000;

.intro-content h1 {
	color: #ffffff;
	font-family: "poppins-medium", sans-serif;
	font-size: 8.4rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.intro-content h5 {
	color: #ff5724;
	font-family: "poppins-bold", sans-serif;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #ffffff;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: #ffffff;
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: #ffffff;
}

.intro-content .blockquote bigger-font {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #ffffff;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

// quote
.bigger-font {
  font-size: 1.9em;
  font-family: Montserrat;
  word-wrap: break-word; /* Add this property to allow wrapping of long words */
}
.custom-quote {
  color: #3459e6;
}

// nav bar
$navbar-bg: rgb(0, 0, 0);
$nav-link-color: #3459e6;
$nav-link-hover-color: #3459e6;
$nav-link-disabled-color: #3459e6;
$nav-tabs-border-color: #3459e6;
$nav-tabs-link-hover-border-color: #3459e6;
$nav-tabs-link-active-color: #3459e6;
$nav-tabs-link-active-border-color: #3459e6;
$navbar-dark-color: #3459e6;
$navbar-dark-hover-color: #3459e6;
$navbar-dark-active-color: #3459e6;
$navbar-dark-brand-color: #3459e6;
$navbar-dark-brand-hover-color: #3459e6;
$navbar-dark-toggler-border-color: #3459e6;
$navbar-padding-y: .9rem;

// dropdown menu
$dropdown-color:#3459e6;
$dropdown-bg:#18265f;
$dropdown-border-color:#fcfcfc;
$dropdown-divider-bg:#fcfcfc;
$dropdown-link-color:#fcfcfc;
$dropdown-link-hover-color:#fcfcfc;
$dropdown-link-hover-bg:#000000;
$dropdown-link-active-color:#000000;
$dropdown-link-active-bg:#000000;
$dropdown-header-color:#fcfcfc;
$dropdown-dark-color:#fcfcfc;
$dropdown-dark-bg:#fcfcfc;
$dropdown-dark-border-color:#fcfcfc;
$dropdown-dark-divider-bg:#fcfcfc;
$dropdown-dark-link-color:#fcfcfc;
$dropdown-dark-link-hover-color:#fcfcfc;
$dropdown-dark-link-hover-bg:#fcfcfc;
$dropdown-dark-link-active-color:#fcfcfc;
$dropdown-dark-link-active-bg:#fcfcfc;
$dropdown-dark-link-disabled-color:#fcfcfc;
$dropdown-dark-header-color:#fcfcfc;


// Code blocks
$code-block-bg-alpha: -.8;

// cards
$card-title-color: #3459e6;
$card-title-spacer-y: .90rem;
$card-color: #ffffff;
$card-bg: #000000;
$card-border-color: #18265f;
$card-cap-bg: #3459e6;
$card-cap-color: #000000;
$card-cap-padding-y: .9px;
$card-cap-padding-x: .9px;
$card-border-width: 2.5px;
$card-spacer-y: .50rem;
$card-spacer-x: 1.4rem;
$card-height: 0.9px;

// fonts
$h1-font-size: 2rem;

// tables
$table-color: #ffffff;
$table-bg: #08152c;
$table-accent-bg: #00000081;
$table-hover-bg: #3459e6;
$table-border-color: #ffffff;
$table-dark-bg:  #3459e6;
$table-dark-border-color: #ffffff;
$table-striped-color: #ffffff;
$table-striped-bg: #000000;
$table-bg-scale: 50%;

// components
$input-bg: lighten(#3459e6, 50%);
$input-disabled-bg: lighten(#3459e6, 50%);
$input-placeholder-color: rgba(#3459e6, .9);
$text-muted: #4c6ffd;
$border-radius: .9rem;
$component-active-bg: #3459e6;
$border-width: 0.5;
$breadcrumb-divider-color: #3459e6;
$breadcrumb-active-color: #3459e6;

$min-contrast-ratio: 5;

$code-block-border-left-size: 3px;
$code-block-bg: #0b1f41;
$code-block-border-left-style: solid;
$btn-code-copy-color: #ffffff;
$btn-code-copy-color-active: #3459e6;

.quarto-grid-item {.listing-categories {
    margin-top: 10px;
    .listing-category {
        color: #3458e681;
        border: solid 1px #3458e681;
        border-radius: .25rem;
        text-transform: uppercase;
        font-size: .75em;
        padding-left: .5em;
        padding-right: .5em;
        padding-top: .25em;
        padding-bottom: .15em;
        cursor: pointer;
        margin-right: 4px;
        margin-bottom: 4px;
    }
}
}

// parralax configuration
:root {

    --gradient-text: var(--color-primary);
    --gradient-bar: linear-gradient(103.22deg, #c7c7c7 -13.86%, #2e71b1 99.55%);

    --color-primary: #0479e6;
    --color-bg: #fff;
    --color-bg-1: #b3a69f;
    --color-bg-2: #d8f2ea;
    --color-text: #fff;
    --color-subtext: #719eff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    overscroll-behavior: none;
}

.gradient_bg {
  overflow: visible;
  width: 100%;
  margin-top: 0;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  /*background: linear-gradient(90deg, rgba(0, 97, 242, 1) 0%, rgba(105, 0, 199, 1) 100%);*/
}

h1 {
    color: white;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient_text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_padding {
    padding: 2rem 6rem 6rem 2rem;
}

.section_margin {
    margin: 0rem 0rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section_padding {
        padding: 1rem 2rem 0rem 2rem;
    }
    
    .hero {
      padding-top: 2rem;
    }

    .section_margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section_padding {
        padding: 1rem 2rem 0rem 2rem;
    }
    
    .hero {
      padding-top: 2rem;
    }

    .section_margin {
        margin: 4rem 2rem;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    z-index: 1;
    max-width: 2000px;
    margin: 0%;
    padding-top: 7rem;
}

.hero_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 9;
    margin-right: 5rem;
    margin: auto;
    max-width: 700px;
}

.hero_content h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.hero_content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.hero_content_input {
    z-index: 7;
    width: 100%;
    margin: 2rem 0 0rem;
    display: flex;
    flex-direction: row;
}

.hero_content_input iframe {
    flex: 2;
    min-height: 53px;
    max-height: 53px;
    padding: 0 0rem;
    margin: 0 !important; 
    padding:0 !important; 
    border-radius: 0px !important; 
    background-color: transparent; 
    width: 100%;
}

.hero_content_below_button span {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    color: white;
    font-size: 12pt;
    font-style: italic;
}


.hero_image {
    z-index: 7;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_image img {
    z-index: 7;
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    max-width: 250px;
    min-width: 150px;
}


@media screen and (max-width: 1050px) {
    .hero {
        flex-direction: column;
    }

    .hero_content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .hero_content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .hero_content p{
        font-size: 16px;
        line-height: 24px;
    }
    
    .hero_content_below_button span{
      font-size: 11px;
    }

    .hero_content_input input,
    .hero_content_input button,
    .hero_content_input iframe{
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .hero_content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .hero_content p{
        font-size: 14px;
        line-height: 24px;
    }

    .hero_content_input input,
    .hero_content_input button,
    .hero_content_input iframe{
        font-size: 12px;
        line-height: 16px;
    }
    
    .hero_content_below_button span{
      font-size: 10px;
    }
}

#bottom_wave{
  z-index: 7;
  position:relative;
}

.parallax{
  
}

#dot_container{
  height: 48%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 100%;
  left: 0%;
}

.dot {
    background-color: #ffffff;
    border-radius: 100%;
    opacity: 2.0;
    animation: shining-animation 0.08s infinite;
  }
  
  @keyframes shining-animation {
    0% {
      opacity: 0.2;
    }
    10% {
        opacity: 0.3;
      }
    20% {
        opacity: 0.4;
      }
    30% {
        opacity: 0.5;
      }
    40% {
        opacity: 0.6;
      }
    50% {
        opacity: 0.7;
      }
    60% {
        opacity: 0.8;
      }
    70% {
      opacity: 0.9;
      }
    100% {
        opacity: 0.1;
        }
  }

  .quote-block {
    background-color: #0c132e;
    padding: 10px;
    border-radius: 5px;
    width: 100vw; /* 100% of viewport width */
    margin-left: -45vw; /* Centers the block horizontally */
    position: relative;
    left: 50%;
  }

.skilltitle {
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -25px;
  z-index: 1;
  color: #3459e6;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  &:hover::after {
    background-color: transparent;
  }
}

.MSskilltitle {
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -5px;
  z-index: 2;
  color: #3459e6;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  &:hover::after {
    background-color: transparent;
  }
}

// Time line

$color_1: white;
$font-family_1: "Montserrat";
$background-color_1: #000000;
$background-color_2: #121c47;
$background-color_3: gray;
$background-color_4: rgb(0, 162, 255);

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $font-family_1;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: $background-color_1;
}
.timeline {
  width: 90%;
  height: auto;
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
  ul {
    list-style: none;
    li {
      padding: 20px;
      background-color: $background-color_2;
      color: $color_1;
      border-radius: 10px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.timeline-content {
  h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .date {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: $background-color_4;
  }
}
@media only screen and (min-width: 768px) {
  .timeline {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: $background-color_3;
      z-index: 1;
    }
    ul {
      li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
        &:nth-child(odd) {
          float: left;
          clear: right;
          transform: translateX(-30px);
          border-radius: 20px 0px 20px 20px;
          &::before {
            transform: translate(50%, -50%);
            right: -30px;
          }
        }
        &:nth-child(even) {
          float: right;
          clear: left;
          transform: translateX(30px);
          border-radius: 0px 20px 20px 20px;
          &::before {
            transform: translate(-50%, -50%);
            left: -30px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: $background-color_3;
          top: 0px;
        }
        &:hover {
          &::before {
            background-color: $background-color_4;
          }
        }
      }
    }
  }
  .timeline-content {
    .date {
      position: absolute;
      top: -17px;
    }
  }
}

.experiencetitle {
    text-align: center;
    text-decoration: none;
    position: relative;
    top: -140px;
    z-index: 1;
    color: #3459e6;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }
    &:hover::after {
      background-color: transparent;
    }
  }


  


  
  
  
  
  